body,
p,
h1,
h2,
h3,
h4,
h5,
button,
input {
  padding: 0;
  margin: 0;
  user-select: none;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
button,
input,
div,
span,
a {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
}

a {
  text-decoration: none;
  font-family: inherit;
}

button {
  outline: none;
  font-family: inherit;
  border: none;
  background: none;
}

.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App__wrapper {
  display: flex;
  align-items: center;
}

.statistic {
  width: 20vw;
  padding-top: calc(1.3rem * 2);
  align-self: stretch;
}

.lostFigures {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border: 2px solid rgb(95, 95, 95);
  background: #d3d3d3;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.lostFigures .LostFiguresComponent {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.lostFigures .LostFiguresComponent .lost-figure {
  width: 20%;
  display: inline-block;
}

.lostFigures .LostFiguresComponent .lost-figure__logo {
  width: 100%;
  object-fit: contain;
}

.BoardComponent {
  margin-right: 2%;
}

.BoardComponent__title {
  font-size: 1.3rem;
  line-height: 2;
}

.BoardComponent__board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
  box-sizing: content-box;
  border: 2px solid rgb(95, 95, 95);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  overflow: hidden;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1%;
  position: relative;
}

.cell .figure__logo {
  width: 52px;
  height: 52px;
  position: relative;
  pointer-events: none;
}

.cell .figure__logo.pawn {
  width: 44px;
  height: 44px;
}

.cell.selected {
  background: #00aeff;
}

.cell .available {
  background: greenyellow;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.cell.available {
  background: greenyellow;
}

.black {
  background: rgb(95, 95, 95);
}

.white {
  background: #d3d3d3;
}