body,
p,
h1,
h2,
h3,
h4,
h5,
button,
input {
  padding: 0;
  margin: 0;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
button,
input,
div,
span,
a {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
}

a {
  text-decoration: none;
  font-family: inherit;
}

button {
  outline: none;
  font-family: inherit;
  border: none;
  background: none;
}

.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
  border: 2px solid rgb(95, 95, 95);
  box-sizing: content-box;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1%;
}

.cell .figure__logo {
  width: 52px;
  height: 52px;
  position: relative;
}

.cell .figure__logo.pawn {
  width: 44px;
  height: 44px;
}

.black {
  background: rgb(95, 95, 95);
}

.white {
  background: #d3d3d3;
}